/* Variables */

$base-colour: #333;
$primary-colour: white;
$secondary-colour: #11d411;
$warning-colour: #d8c628;
$max-window-width: 500px;
$toast-slide-animation-time: 3s;

/* Mixins */

@mixin centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  @include centered;
  width: 100vw;
  height: 100vh;
  padding: 0px;
  margin: 0px;
  overflow: auto;

  &:focus {
    outline: none;
  }
}

.gameWindow {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 91vw;
  max-width: $max-window-width;
  height: 92%;
  border-radius: 25px;
  // padding: 2%;
  background: linear-gradient(150deg, $base-colour, scale-color($base-colour, $lightness: 20%));
}

.inputConainer {
  height: 20%;
  max-height: 20%;
}

/* Menu Styling */

.modalContainer {
  @include centered;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 10;

  .footnote {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 2%;
  }

  a {
    color: black;
  }

  .menuShowTutorial {
    @include centered;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    color: $base-colour;
    border: 2px solid $base-colour;
    border-radius: 100px;
    width: 5vw;
    max-width: 50px;
    height: 5vw;
    max-height: 50px;
    margin: 1%;
    font-size: 1.2rem;
    font-weight: 700;
  }
}

.menu {
  background-color: #666;
  @include centered;
  flex-direction: column;
  color: $primary-colour;
  width: 80%;
  max-width: $max-window-width - 50px;
  padding: 3%;
  border-radius: 10px;
  box-shadow: 0px 2px 4px -1px black,
    0px 4px 5px 0px #222, 0px 1px 10px 0px #111;

  h1 {
    margin: 0px 0px 5% 0px;
    background-color: $primary-colour;
    color: $base-colour;
    border-radius: 10px;
    padding: 0.5%;
  }

  p {
    margin: 0;
    padding: 0;
  }

  .titleContainer {
    margin-bottom: 5%;
    text-align: center;
  }

  .numericOptionContainer {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 100%;
    
    .menuSetting {
      font-size: 1.1rem;
    }
  }
  
  .numberSelector {
    color: $base-colour;
    width: 35%;
    min-width: 80px;
    margin-bottom: 5%;
  }

  .warning {
    color: $warning-colour;
  }

  .secondary {
    color: $secondary-colour;
  }

  .button {
    cursor: pointer;
    @include centered;
    background-color: $secondary-colour;
    border-radius: 10px;
    height: 4vh;
    min-height: 40px;
    width: 40%;
    font-weight: 500;
    font-size: 1.1rem;
    box-shadow: 0px 2px 4px -1px black;
  }

  .button:active {
    box-shadow: none;
    background-color: scale-color($secondary-colour, $lightness: -30%);
  }
}

/* Keyboard Styling */

.keyboardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 6px;
  border: 1px solid $primary-colour;
  border-radius: 20px;

  .keyboardRow {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 1.5%;
  }

  .keyboardKey {
    cursor: pointer;
    @include centered;
    min-width: 8%;
    height: 6vh;
    min-height: 100%;
    border: 1px solid $primary-colour;
    border-radius: 5px;
    background-color: $primary-colour;
    margin-right: 5px;
    overflow: hidden;

    &:last-child {
      margin: 0px;
    }
  }
  
  .keyboardKey:active {
    background-color: $base-colour;
    border-color: $base-colour;
  }
  
  .keyboardIcon {
    padding: 0px 2px;
  }
  
  .keyboardKeyIcon {
    width: 80%;
    height: 100%;
  }
  
  .keyboardKeyText {
    color: $base-colour;
    font-weight: bold;
    padding: 0px 7px;
    font-size: 0.9em;
  }
}

/* Word Box Styling */

.wordsContainer {
  @include centered;
  height: 75%;
}

.wordsBox {
  width: 100%;
}

.wordContainer {
  padding-top: 10%;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0.5%;
  padding: 0;
  flex-grow: 4;
}

.letterBox {
  @include centered;
  border: 1px solid $primary-colour;
  width: 40px;
  height: 40px;
  margin: 0.5% 1%;
  border-radius: 5px;
  font-weight: 600;
  font-size: 1.3rem;
  transition: transform 1s;
  transform-style: preserve-3d;
  z-index: 0;

  &.active {
    box-shadow: 0px 2px 4px -1px black,
      0px 4px 5px 0px #222, 0px 1px 10px 0px #111;
  }

  &.match {
    animation: 0.8s flip;
    animation-direction: forwards;
  }
}

/* Toast Styling */

.toastContainer {
  @include centered;
  width: 89vw;
  max-width: $max-window-width;
  height: 8%;
  position: absolute;
  border-radius: 10px;
  box-shadow: 0px 2px 4px -1px black,
    0px 4px 5px 0px #222, 0px 1px 10px 0px #111;
    background-color: $primary-colour;
  color: $base-colour;
  font-size: 1.5rem;
  animation: $toast-slide-animation-time slide-in-and-out;
  animation-fill-mode: forwards;
}

/* End Modal Styling */

.endOptionsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: $max-window-width;
  height: 100%;
  width: 100%;
  background-color: $base-colour;
  border-radius: 20px;

  p {
    color: $primary-colour;
    font-size: 1.1rem;
    margin: 5px 0px 5px;
  }

  .result {
    @include centered;
    flex-direction: column;
    text-align: center;
  }

  .resultIconContainer {
    @include centered;
    border-radius: 50%;
    width: 11vh;
    height: 11vh;
    margin: 10% 0px 10%;

    &.success {
      background-color: $secondary-colour;
    }

    &.failure {
      background-color: rgb(236, 28, 28);
    }
  }

  .checkmark {
    stroke: white;
    fill: none;
    width: 70%;
    height: 70%;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3px;
  }

  .failureX {
    stroke: $base-colour;
    width: 60%;
    height: 60%;
  }

  .iconButton {
    @include centered;
    flex-direction: column;
    cursor: pointer;
    height: 40%;
    width: 30%;
    color: white;

    .iconButtonImage {
      height: 70%;
      width: auto;
      margin-top: 2rem;
    }

  }
}

/* Tutorial Styling */

.tutorialContainer {
  @include centered;
  flex-direction: column;
  width: 80%;
  max-width: $max-window-width;
  background-color: $base-colour;
  color: $primary-colour;
  padding: 5%;

  h3 {
    margin-top: 0px;
  }

  p {
    width: 100%;
    margin: 2%;
  }

  hr {
    width: 100%;
    margin-bottom: 5%;
  }
  
  .closeTutorialButton {
    margin: 0px 0px 0px 90%;
    width: 5%;
    text-align: right;
    position: relative;
    display: inline;
    color: #aaa;
    font-weight: bold;
    cursor: pointer;
  }
}

/* Mobile Styling */


@media only screen and (max-width: 500px) {
  .gameWindow {
    width: 100%;
    height: 100vh;
    border-radius: 25px;
    padding: 0px;
    margin: 0px;
    border-radius: 0px;
  }

  .keyboardContainer {
    border: none;
    padding: 0px 5px;

    .keyboardKey {
      margin-right: 2px;
      min-width: 9%;
      height: 7vh;
    }
  }
  
  .endOptionsContainer {
    border-radius: 0px;
  }
}


/* Animations */

@keyframes slide-in-and-out {
  0% {
    transform: translateY(-500px);
  }

  10% {
    transform: translateY(0%);
  }

  90% {
    transform: translateY(0%);
  }

  100% {
    transform: translateY(-500px);
  }
}

@keyframes flip {
  100% {
    transform: rotateY(360deg);
  }
}